{% extends 'base.html' %}

{% block title %}
<title>Owners</title>
{% endblock title %}

{% block header %}
<h1>Owners list</h1>
{% endblock header %}

{% block content %}
<h1>Bienvenido {{ owner.first_name }}</h1>
<p><strong>Name: </strong> {{ owner.first_name }} {{owner.last_name}}</p>
<p><strong>Address: </strong> {{ owner.address }}</p>
<p><strong>Email: </strong> {{ owner.email }}</p>
<p><strong>Phone: </strong> {{ owner.phone }}</p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <p><strong>Pets: </strong></p>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                {% for pet in owner.pets.all %}
                <tr>
                    <td>
                        <a href="{% url 'vet:pet_detail' pk=pet.id %}">
                            {{ pet.id }}
                        </a>
                    </td>
                    <td>{{ pet.name }}</td>
                </tr>
                {% endfor %}
            </table>
            <a type="button" class="btn btn-outline-primary" href="{% url 'vet:pet_create' %}?owner={{ owner.id }}">Agregar Nuevo</a>
        </div>
    </div>
</div>

{% endblock content%}