{% extends 'base.html' %}

{% block title %}
<title>Owners</title>
{% endblock title %}

{% block header %}
<h1>Owners list</h1>
{% endblock header %}

{% block content %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Lastname</th>
        <th>
            <a class="btn btn-outline-primary" href="{% url 'vet:owner_create' %}">Agregar Nuevo</a>
        </th>
    </tr>
    {% for owner in owners %}
    <tr>
        <td>
            <a href="{% url 'vet:owner_detail' pk=owner.id %}">
                {{ owner.id }}
            </a>
        </td>
        <td>{{ owner.first_name }}</td>
        <td>{{ owner.last_name }}</td>
        <td>
            <a href="{% url 'vet:owner_update' pk=owner.id %}">
                Update
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content%}