{% extends 'base.html' %}

{% block title %}
<title>Pets</title>
{% endblock title %}

{% block header %}
<h1>Pets list</h1>
{% endblock header %}

{% block content %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th></th>
    </tr>
    {% for pet in pets %}
    <tr>
        <td>
            <a href="{% url 'vet:pet_detail' pk=pet.id %}">
                {{ pet.id }}
            </a>
        </td>
        <td>{{ pet.name }}</td>
        <td>{{ pet.type }}</td>
        <td>
            <a href="{% url 'vet:pet_update' pk=pet.id %}">
                Update
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content%}